---
geometry: margin=1in
author: Václav Šraier
title: Transparent Restarts of Stateless Services
numbersections: true
papersize: a4

{#
header-includes:
  - \hypersetup{colorlinks=false,
            allbordercolors={0 0 0},
            pdfborderstyle={/S/U/W 0.2}}
#}
---



You are currently reading a thesis, that is still work in progress. To download the latest version, **[click here](https://gitlab.com/vakabus/libzedr/-/jobs/artifacts/master/raw/thesis/thesis.pdf?job=thesis).**

{FIXME WIP mark}

---

# Abstract

{% include 'abstract.md' %}
\newpage

\setcounter{tocdepth}{2}
\renewcommand*\contentsname{Table of content}
\tableofcontents
\pagebreak

{% include 'introduction.md' %}

{% include 'analysis.md' %}

{% include 'design.md' %}

{% include 'libzedr.md' %}

{% include 'systemd.md' %}

{% include 'evaluation.md' %}
